# Copy this file to `credentials.mk` and edit as appropriate.
# DO NOT add `credentials.mk` add to git!
POSTGRES_USER := postgres
POSTGRES_PASSWORD := fixme
APP_DB_USER := fixme
APP_DB_PASS := fixme
APP_DB_NAME := fixme

